<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
	<meta name = "format-detection" content = "telephone=no">
	<title>{{active}}签到页</title>
	<link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
	<div class="main" id="main">
		<div class="search" id="search-card">
			<h1>{{active}}</h1>
			<div class="search_con" id="search-form">
				<div class="con-wrap">
                    <input type="hidden" id="activeId" value="{{active}}">
					<input type="text" autocomplete="off" autocorrect="off" maxlength="64" id="search-kw" name="word" class="se-input" data-sug="1">
					<div class="se-inner">
						<div id="search-cross" class="cross"></div>
						<button id="search-bn" class="se-bn" type="submit">签到</button>
					</div>
				</div>
				<div id="search-box">
					<div class="suggest-div">
						<div class="suggest-panel">
							<div class="suggest-content">

							</div>
						</div>
						<div class="suggest-title"></div>
						<div class="suggest-close">关闭</div>
					</div>
				</div>
			</div>
			<div class="seat">

			</div>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/style.js?v=12017"></script>
</body>
</body>
</html>

